In [ ]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
%sql sqlite:///TMDB.db

In [5]:
%%sql
SELECT *FROM 
Movies
LIMIT 10

 * sqlite:///TMDB.db
Done.

[(5, 'Four Rooms', '1995-12-09 00:00:00.000000', 4000000, None, 'en', 'Four Rooms', "It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.", 22.87623, 4300000.0, 98.0, 'Released', "Twelve outrageous guests. Four scandalous requests. And one lone bellhop, in his first day on the job, who's in for the wildest New year's Eve of his life.", 6.5, 530),
 (11, 'Star Wars', '1977-05-25 00:00:00.000000', 11000000, 'http://www.starwars.com/films/star-wars-episode-iv-a-new-hope', 'en', 'Star Wars', 'Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker a ... (14 characters truncated) ... tain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.', 126.393695, 775398007.0, 121.0, 'Released', 'A long time ago in a galaxy far, far away...', 8.1, 6624),
 (12, 'Finding Nemo', '2003-05-30 00:00:00.000000', 94000000, 'http://movies.disney.com/finding-nemo', 'en', 'Finding Nemo', "Nemo, an adventurous young clownfish, is unexpectedly taken from his Great Barrier Reef home to a dentist's office aquarium. It's up to his worrisome ... (35 characters truncated) ... orgetful fish Dory to bring Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls, and more along the way.", 85.688789, 940335536.0, 100.0, 'Released', "There are 3.7 trillion fish in the ocean, they're looking for one.", 7.6, 6122),
 (13, 'Forrest Gump', '1994-07-06 00:00:00.000000', 55000000, None, 'en', 'Forrest Gump', "A man with a low IQ has accomplished great things in his life and been present during significant historic events - in each case, far exceeding what  ... (108 characters truncated) ... rest Gump' is the story of a man who rose above his challenges, and who proved that determination, courage, and love are more important than ability.", 138.133331, 677945399.0, 142.0, 'Released', "The world will never be the same, once you've seen it through the eyes of Forrest Gump.", 8.2, 7927),
 (14, 'American Beauty', '1999-09-15 00:00:00.000000', 15000000, 'http://www.dreamworks.com/ab/', 'en', 'American Beauty', "Lester Burnham, a depressed suburban father in a mid-life crisis, decides to turn his hectic life around after developing an infatuation with his daughter's attractive friend.", 80.878605, 356296601.0, 122.0, 'Released', 'Look closer.', 7.9, 3313),
 (16, 'Dancer in the Dark', '2000-05-17 00:00:00.000000', 12800000, None, 'en', 'Dancer in the Dark', "Selma, a Czech immigrant on the verge of blindness, struggles to make ends meet for herself and her son, who has inherited the same genetic disorder  ... (121 characters truncated) ... her love of musicals, escaping life's troubles - even if just for a moment - by dreaming up little numbers to the rhythmic beats of her surroundings.", 22.022228, 40031879.0, 140.0, 'Released', "You don't need eyes to see.", 7.6, 377),
 (18, 'The Fifth Element', '1997-05-07 00:00:00.000000', 90000000, None, 'en', 'The Fifth Element', 'In 2257, a taxi driver is unintentionally given the task of saving a young girl who is part of the key that will ensure the survival of humanity.', 109.528572, 263920180.0, 126.0, 'Released', 'There is no future without it.', 7.3, 3885),
 (19, 'Metropolis', '1927-01-10 00:00:00.000000', 92620000, None, 'de', 'Metropolis', "In a futuristic city sharply divided between the working class and the city planners, the son of the city's mastermind falls in love with a working class prophet who predicts the coming of a savior to mediate their differences.", 32.351527, 650422.0, 153.0, 'Released', 'There can be no understanding between the hands and the brain unless the heart acts as mediator.', 8.0, 657),
 (20, 'My Life Without Me', '2003-03-07 00:00:00.000000', 0, 'http://www.clubcultura.com/clubcine/clubcineastas/isabelcoixet/mividasinmi/index.htm', 'en', 'My Life Without Me', 'A Pedro Almodovar production in which a fatally ill mother with only two months to live creates a list of things she wants to do before she dies with out telling her family of her illness.', 7.958831, 9726954.0, 106.0, 'Released', None, 7.2, 77),
 (22, 'Pirates of the Caribbean: The Curse of the Black Pearl', '2003-07-09 00:00:00.000000', 140000000, 'http://disney.go.com/disneyvideos/liveaction/pirates/main_site/main.html', 'en', 'Pirates of the Caribbean: The Curse of the Black Pearl', "Jack Sparrow, a freewheeling 17th-century pirate who roams the Caribbean Sea, butts heads with a rival pirate bent on pillaging the village of Port Royal. When the governor's daughter is kidnapped, Sparrow decides to help the girl's love save her. But their seafaring mission is hardly simple.", 271.972889, 655011224.0, 143.0, 'Released', 'Prepare to be blown out of the water.', 7.5, 6985)]

In [3]:
%%sql
CREATE VIEW Not_Released AS 
                    SELECT * 
                    FROM movies 
                    WHERE
                    release_status <> 'Released'

 * sqlite:///TMDB.db
(sqlite3.OperationalError) view Not_Released already exists
[SQL: CREATE VIEW Not_Released AS
                    SELECT *
                    FROM movies
                    WHERE
                    release_status <> 'Released']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [4]:
%%sql
SELECT title, release_date, release_status
FROM Not_Released
LIMIT 2

 * sqlite:///TMDB.db
Done.

[('Little Big Top', '2006-01-01 00:00:00.000000', 'Rumored'),
 ('The Helix... Loaded', '2005-01-01 00:00:00.000000', 'Rumored')]

%%sql
--How many movies exist that no longer use their original titles? (2 marks)
SELECT*
FROM
Movies
INNER JOIN 
LanguageMap AS lm
ON lm.movie_id  =Movies.movie_id
INNER JOIN Languages AS L
ON L.iso_639_1 = lm.iso_639_1 
limit 10

## What is the most popular movie that was made after 01/01/2000 with a budget of
## more than $100 000 000? (Hint: Use the popularity field in the Movies table. Larger numbers are more popular.

%%sql
SELECT
    COUNT(*) AS m_count,
    popularity,
    budget,
    title,
    release_date
FROM
    movies
WHERE 
    release_date >'01/01/2000'
    AND budget > 100000000
GROUP BY
    popularity, budget, title, release_date
ORDER BY
       popularity DESC
      
;

### How many movies do not have English as their original language?

In [25]:
%%sql
SELECT
COUNT(*)
FROM 
Movies
WHERE 
original_language != 'en'
LIMIT 10

 * sqlite:///TMDB.db
Done.

[(298,)]

### How many movies in the database were produced by Pixar Animation Studios?

In [34]:
%%sql
SELECT
count(*)
FROM 
Movies
JOIN
ProductionCompanyMap as pc
ON Movies.movie_id = pc.movie_id
JOIN 
ProductionCompanies as p
ON p.production_company_id =pc.production_company_id
WHERE 
production_company_name = 'Pixar Animation Studios'
LIMIT 2

 * sqlite:///TMDB.db
Done.

[(16,)]

In [42]:
%%sql
SELECT 
*
FROM Genres
Limit 100

 * sqlite:///TMDB.db
Done.

[(12, 'Adventure'),
 (14, 'Fantasy'),
 (16, 'Animation'),
 (18, 'Drama'),
 (27, 'Horror'),
 (28, 'Action'),
 (35, 'Comedy'),
 (36, 'History'),
 (37, 'Western'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (99, 'Documentary'),
 (878, 'Science Fiction'),
 (9648, 'Mystery'),
 (10402, 'Music'),
 (10749, 'Romance'),
 (10751, 'Family'),
 (10752, 'War'),
 (10769, 'Foreign'),
 (10770, 'TV Movie')]

### How many movies are in the database that are both a Romance and a Comedy?

In [52]:
%%sql
SELECT 
    COUNT(*)
FROM (
    SELECT 
        Movies.movie_id
    FROM
        Movies
    JOIN 
        GenreMap ON GenreMap.movie_id = Movies.movie_id
    JOIN
        Genres ON Genres.genre_id = GenreMap.genre_id
    WHERE 
        Genres.genre_name IN('Romance', 'Comedy')
    GROUP BY 
        Movies.movie_id
    HAVING 
        COUNT(DISTINCT Genres.genre_name) = 2
) AS BothGenres;

 * sqlite:///TMDB.db
Done.

[(484,)]

## What is the most popular action movie that has some German in it? (Hint: The German word for German is Deutsch)

In [72]:
%%sql
SELECT 
    Movies.movie_id,
    Movies.title,
    Movies.popularity
FROM
    Movies
JOIN 
    GenreMap ON GenreMap.movie_id = Movies.movie_id
JOIN
    Genres ON Genres.genre_id = GenreMap.genre_id
WHERE 
    Genres.genre_name = 'Action'
    AND Movies.original_language LIKE 'Deutsch'
ORDER BY 
    Movies.popularity DESC

;

 * sqlite:///TMDB.db
Done.

[]

### In how many movies did Tom Cruise portray the character Ethan Hunt?

In [81]:
%%sql
SELECT
COUNT(*)
FROM 
Movies AS M
JOIN
Casts AS C
on M.movie_id = C.movie_id
JOIN
Actors AS A
ON 
A.actor_id = C.actor_id
WHERE actor_name = 'Tom Cruise' AND C.characters = 'Ethan Hunt'
LIMIT 3

 * sqlite:///TMDB.db
Done.

[(5,)]

### How many times was the actress Cate Blanchett nominated for an Oscar?

In [87]:
%%sql
SELECT
    COUNT(s.actor_name) AS nominee_count
FROM
    Oscars AS o
JOIN
    actors AS s ON o.name = s.actor_name
WHERE 
    s.actor_name = 'Cate Blanchett'

;

 * sqlite:///TMDB.db
Done.

[(7,)]

### How many movies contains at least one of the official South African Languages, Afrikaans or Zulu?

In [91]:
%%sql
SELECT 
COUNT(*)
FROM Movies
WHERE 
original_language IN ('af')

 * sqlite:///TMDB.db
Done.

[(1,)]

In [90]:
%%sql
SELECT 
original_language
FROM Movies
where
original_language ='zu'
limit 400

 * sqlite:///TMDB.db
Done.

[]

## Which of the movies mentioned above is the most popular?

In [101]:
%%sql
SELECT 
    m.movie_id,
    m.title,
    g.genre_name,
    m.popularity
FROM
    movies AS m
JOIN
    genremap AS gm ON gm.movie_id = m.movie_id
JOIN
    genres AS g ON g.genre_id = gm.genre_id
WHERE 
    m.title IN ('District 9', 'Blood Diamond', 'Tsotsi', 'Gangster''s Paradise: Jerusalema')
ORDER BY
    m.popularity DESC;

 * sqlite:///TMDB.db
Done.

[(17654, 'District 9', 'Science Fiction', 63.13678),
 (1372, 'Blood Diamond', 'Drama', 52.792678),
 (1372, 'Blood Diamond', 'Action', 52.792678),
 (1372, 'Blood Diamond', 'Thriller', 52.792678),
 (868, 'Tsotsi', 'Drama', 2.504169),
 (868, 'Tsotsi', 'Crime', 2.504169),
 (22600, "Gangster's Paradise: Jerusalema", 'Drama', 1.717376),
 (22600, "Gangster's Paradise: Jerusalema", 'Action', 1.717376),
 (22600, "Gangster's Paradise: Jerusalema", 'Crime', 1.717376),
 (22600, "Gangster's Paradise: Jerusalema", 'Foreign', 1.717376)]

In [106]:
%%sql
SELECT * FROM movies ORDER BY release_date ASC LIMIT 10

 * sqlite:///TMDB.db
Done.

[(380097, 'America Is Still the Place', None, 0, None, 'en', 'America Is Still the Place', '"1971 post civil rights San Francisco seemed like the perfect place for a black Korean War veteran and his family to realize their dream of economic  ... (222 characters truncated) ... pened a door that had never been open to a black man before. This is a story about what happened when he stepped through that door, with both feet!."', 0.0, 0.0, 0.0, 'Released', None, 0.0, 0),
 (3059, 'Intolerance', '1916-09-04 00:00:00.000000', 385907, None, 'en', 'Intolerance', 'The story of a poor young woman, separated by prejudice from her husband and baby, is interwoven with tales of intolerance from throughout history.', 3.232447, 8394751.0, 197.0, 'Released', 'The Cruel Hand of Intolerance', 7.4, 60),
 (3060, 'The Big Parade', '1925-11-05 00:00:00.000000', 245000, None, 'en', 'The Big Parade', "The story of an idle rich boy who joins the US Army's Rainbow Division and is sent to France to fight in World War I, becomes friends with two working class men, experiences the horrors of trench warfare, and finds love with a French girl.", 0.785744, 22000000.0, 151.0, 'Released', None, 7.0, 21),
 (19, 'Metropolis', '1927-01-10 00:00:00.000000', 92620000, None, 'de', 'Metropolis', "In a futuristic city sharply divided between the working class and the city planners, the son of the city's mastermind falls in love with a working class prophet who predicts the coming of a savior to mediate their differences.", 32.351527, 650422.0, 153.0, 'Released', 'There can be no understanding between the hands and the brain unless the heart acts as mediator.', 8.0, 657),
 (905, "Pandora's Box", '1929-01-30 00:00:00.000000', 0, None, 'de', 'Die Bnchse der Pandora', 'The rise and inevitable fall of an amoral but naive young woman whose insouciant eroticism inspires lust and violence in those around her.', 1.824184, 0.0, 109.0, 'Released', None, 7.6, 45),
 (65203, 'The Broadway Melody', '1929-02-08 00:00:00.000000', 379000, None, 'en', 'The Broadway Melody', "Harriet and Queenie Mahoney, a vaudeville act, come to Broadway, where their friend Eddie Kerns needs them for his number in one of Francis Zanfield' ... (195 characters truncated) ... eenie recognizes, that she is for Jock nothing more than a toy, and it also takes a while till Harriet recognizes, that Eddie is in love with Queenie", 0.968865, 4358000.0, 100.0, 'Released', "The pulsating drama of Broadway's bared heart speaks and sings with a voice to stir your soul!", 5.0, 19),
 (22301, "Hell's Angels", '1930-11-15 00:00:00.000000', 3950000, None, 'en', "Hell's Angels", "Two brothers attending Oxford enlist with the Royal Flying Corps when World War I breaks out. Roy and Monte Rutledge have very different personalitie ... (576 characters truncated) ... t a strategic German munitions facility is a booming success, but with a squadron of fighters bearing down on them afterwards, escape seems unlikely.", 8.484123, 8000000.0, 127.0, 'Released', "Howard Hughes' Thrilling Multi-Million Dollar Air Spectacle", 6.1, 19),
 (22649, 'A Farewell to Arms', '1932-12-08 00:00:00.000000', 4, None, 'en', 'A Farewell to Arms', "British nurse Catherine Barkley (Helen Hayes) and American Lieutenant Frederic Henry (Gary Cooper) fall in love during the First World War in Italy.  ... (105 characters truncated) ... the war rages on. Academy Awards winner for Best Cinematography and for Best Sound, Recording. Nominated for Best Picture and for Best Art Direction.", 1.199451, 25.0, 89.0, 'Released', 'Every woman who has loved will understand', 6.2, 28),
 (3062, '42nd Street', '1933-02-02 00:00:00.000000', 439000, None, 'en', '42nd Street', 'A producer puts on what may be his last Broadway show, and at the last moment a chorus girl has to replace the star.', 1.933366, 2281000.0, 89.0, 'Released', None, 6.1, 37),
 (43595, 'She Done Him Wrong', '1933-02-09 00:00:00.000000', 200000, None, 'en', 'She Done Him Wrong', '"New York singer and nightclub owner Lady Lou has more men friends than you can imagine. Unfortunately one of them is a vicious criminal who\'s escap ... (52 characters truncated) ... ing she hasn\'t exactly been faithful in his absence. Help is at hand in the form of young Captain Cummings a local temperance league leader though."', 0.622752, 2200000.0, 66.0, 'Released', "Mae West gives a 'Hot Time' to the nation!", 5.1, 27)]